<app-title-bar></app-title-bar>
<app-nav-bar></app-nav-bar>
<div class="story-block">
  <div class="row">
    <div class="col-md-4">
      <app-image-block [childImage]="img1"></app-image-block>
    </div>
    <div class="col-md-4">
      <app-story-block [childStory]="articles[0]"></app-story-block>
    </div>
    <div class="col-md-4">

    </div>
  </div>

  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
      <app-story-block [childStory]="articles[1]"></app-story-block>
    </div>
    <div class="col-md-4">
      <app-image-block [childImage]="img2"></app-image-block>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
      <app-story-block [childStory]="articles[1]"></app-story-block>
    </div>
    <div class="col-md-4">
      <app-image-block [childImage]="img1"></app-image-block>
    </div>
  </div>
</div>
