.row {
  background-color: black;
}

.col-md-4 {
  border: solid 1px gold;
}

.full-span {
  background-image: linear-gradient(to right, gold, magenta);
}

img {
  width: 100%;
}

.story {
  color: white;
}

h1 {
  font-size: 3em;
}

.author {
  color: magenta;
}
